.h1{
    text-align: center;
}
.hy{
    margin: -150px 0px 0px 500px;
}
.line{
    margin: -150px 0px 0px 430px;
    font-size: 170px;
}
.line2{
    margin: -180px 0px 0px 950px;
    font-size: 170px;
}
.hy2{
    margin: -150px 0px 0px 1000px;
}
.hy3{
    margin: 0px 0px 0px 10px;
}
.line3{
    margin: -250px 0px 0px 410px;
    font-size: 370px;
}
.sub{
    margin: -150px 0px 0px 0px;

}
.hy4{
    margin: -300px 0px 0px 500px;
}
.sub2{
    margin: 20px 0px 0px 500px;
}
.line4{
    margin: -420px 0px 0px 930px;
    font-size: 370px;
}
.img{
    margin: -300px 0px 0px 1000px;
    width: 220px;
}
.hy5{
    margin: -350px 0px 0px 1000px;

}
.hy6{
    margin: 20px 0px 0px 1250px;

}